<footer class="footer">
    <div class="content">
        <div class="copyright">
            <p>
                Copyright © 2010~2024 The Apache Software Foundation, licensed under the Apache License, v2.0.
                <br/>
                Apache, the Apache feather logo, Apache Causeway, and the Apache Causeway project logo are all trademarks of The Apache Software Foundation.
            </p>
        </div>
        <div class="revision">
            <p>Revision: {{env "REVISION" }}</p>
        </div>
    </div>
</footer>
