<a class="navbar-item" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a>
<!--
<div class="navbar-item">
  <span class="control">
    <a class="button is-primary" href="http://docserver"></a>
  </span>
</div>
-->
