a.navbar-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

nav.nav-menu span.nav-text {
  font-style: italic;
}

a.navbar-item.navbar-heading {
  font-style: italic;
  font-weight: bold;
}

span.navbar-item {
  font-style: italic;
  font-weight: bold;
}

a.navbar-item > span.icon {
  margin-left: 60px;
  margin-right: 10px;
}

a.navbar-item > span.icon > img {
  margin-top: -13px;
}
